/**
 * Style constants
 */

// General
$title_padding: 24px;

// Colors
$color_background: #fafdf9;
$color_toolbar: $color_background;

$viridity_light: #03ac13;

// Height of top toolbar
$toolbar_height: 60px;

