/**
 * Simple stylesheet, including the animations for the site.
 */

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;

  background-color: #fafdf9;

  overflow: hidden;
  scroll-behavior: smooth;
}

/* Main pages */
.page {
  height: 100vh;
  width: 100vw;
}

/* Font sizes */
@media only screen and (max-width: 400px) {
  .title_box {
    font-size: 8vw;
  }
  #logo {
    width: 22vw;
    height: auto;
  }
  .main_page {
    font-size: 5vw;
  }
  .text_box {
    font-size: 6.5vw;
  }
}

@media only screen and (min-width: 400px) {
  .title_box {
    font-size: 5vw;
  }
  #logo {
    width: 15vw;
    height: auto;
  }
  .main_page {
    font-size: 3vw;
  }
  .text_box {
    font-size: 4vw;
  }
}

.title_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  margin-top: 24px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-spacing: 12px;
}

/* Flashing animations */
.green_flash {
  animation: glow_green 0.5s ease-in-out infinite alternate;
}

.red_flash {
  animation: glow_red 0.5s ease-in-out infinite alternate;
}

.text_box {
  margin-top: 48px;
  width: 100%;
  text-align: center;
  color: white;
}

@keyframes glow_green {
  from {
    color: #A8EB34;
  }
  to {
    color: #34EB5E;
  }
}

@keyframes glow_red {
  from {
    color: #EB3434;
  }
  to {
    color: #AD4A3E;
  }
}