/**
 * Simple stylesheet, including the animations for the site.
 */

@import './constants.scss';

html, body {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;

  background-color: $color_background;

  overflow: hidden;
  scroll-behavior: smooth;
}

/* Main pages */
.page {
  height: 100vh;
  width: 100vw;
}

.main_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main_link_wrapper {
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
    }

    .main_link {
      cursor: pointer;
      width: 20vw;
      height: 8vw;
      margin: 24px;

      background-color: $viridity-lighter;

      border-radius: 12px;

      transition: opacity 0.3s ease;

      color: white;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

/* Font sizes */
@media only screen and (max-width: 400px) {
  .title_box {
    font-size: 7vw;
  }
  #logo {
    width: 22vw;
    height: auto;
  }
  .main_page {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 400px) {
  .title_box {
    font-size: 5vw;
  }
  #logo {
    width: 15vw;
    height: auto;
  }
  .main_page {
    font-size: 3vw;
  }
}

.title_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  margin-top: 24px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}